@{
    ViewData["Title"] = "Home Page";
    string title = "Statistics";
}

<html lang="">
<head>
    <title>Statistics</title>
</head>
<body>
    <div class="wrapper-table">
        <div class="title-table">
            <h1>@title</h1>
        </div>
        
        <div class="wrapper-charts">
            <div class="chart">
                <canvas id="spendingDateChart"></canvas>    
            </div>
            <div class="chart">
                <canvas id="spendingCategoryChart"></canvas>    
            </div>
            <div class="chart">
                <canvas id="eventCategoryChart"></canvas>    
            </div>
            
        </div>
    </div>
</body>






@{
    var spendingDateChart = (ChartJSCore.Models.Chart)ViewData["spending_date_chart"];
    var spendingCategoryChart = (ChartJSCore.Models.Chart)ViewData["spending_category_chart"];
    // var goal_chart = (ChartJSCore.Models.Chart)ViewData["goal_chart"];
    var eventCategoryChart = (ChartJSCore.Models.Chart)ViewData["event_category_chart"];
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        @Html.Raw(spendingDateChart.CreateChartCode("spendingDateChart"));
        @Html.Raw(spendingCategoryChart.CreateChartCode("spendingCategoryChart"));
        @Html.Raw(eventCategoryChart.CreateChartCode("eventCategoryChart"));
    </script>
