@{
    ViewData["Title"] = "Tracker";
}


<table class="tr-table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Duration</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Duration</td>
        <td>Category</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Duration</td>
        <td>Category</td>
    </tr>

</table>