@inject SignInManager<IdentityUser> SignInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Eczar' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/399f7f7414.js" crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Planner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="main-wrapper">
    <div class="main-content">
        <header class="main-header">
            <nav class="navbar">
                <div class="container menu-bar">

                    <div class="title-table dark">
                        <h1 class="main-title">Planner</h1>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
                                        <i class="far fa-clipboard"></i>
                                        <h5>Dashboard</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="menu-link" asp-area="" asp-controller="Events" asp-action="Index">
                                        <i class="fas fa-list"></i>
                                        <h5>Events</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="menu-link " asp-area="" asp-controller="Planning" asp-action="Index">
                                        <i class="fas fa-tasks"></i>
                                        <h5>Planning</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="menu-link" asp-area="" asp-controller="Finances" asp-action="Index">
                                        <i class="fas fa-piggy-bank"></i>
                                        <h5>Finances</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="menu-link" asp-area="" asp-controller="Statistics" asp-action="Index">
                                        <i class="far fa-chart-bar"></i>
                                        <h5>Statistics</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="menu-link" asp-area="" asp-controller="Reports" asp-action="Index">
                                        <i class="far fa-envelope"></i>
                                        <h5>Reports</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>

            </nav>
        </header>
        <div class="container content">
            <div class="navbar">
                <div class="title-table">
                    
                </div>
                <div class="login-bar">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <div class="logout-bar">
                                    <div class="logout-username">
                                        @User.Identity?.Name    
                                    </div>
                                    <div class="logout-action">
                                        <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                                            Logout <i class="fas fa-user"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a></li>
                        }
                    </ul>
                </div>
            </div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <div class="main-footer">
        <footer class="border-top footer text-muted">
            <div class="container">

                &copy; 2021 - Version @Assembly.GetEntryAssembly()?.GetName().Version
            </div>
        </footer>
    </div>    
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>



</html>