
@model Event

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = "Events";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="form-wrapper">
    <div class="form-container">
        <div class="form-title">
            <h1>Create event</h1>
        </div>
        <div class="form-group">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control"/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control"/>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label> Event Category </label>
                    <select asp-for="EventCategoryId"
                            class="form-control"
                            asp-items="@ViewBag.EventCategoryList">
                    </select>
                    <span asp-validation-for="EventCategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label> Type </label>
                    <select asp-for="GoalTypeId" class="form-control" asp-items="@ViewBag.GoalTypeList" id="event-select-goaltype">
                    </select>
                    <span asp-validation-for="GoalTypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label> Goal </label>
                    <select asp-for="GoalId"
                            class="form-control"
                            asp-items="@ViewBag.GoalList">
                    </select>
                    <span asp-validation-for="GoalId" class="text-danger"></span>
                </div>


                <div class="form-group form-conditional" id="Financial">
                    <label class="control-label">Amount</label>
                    <input type="number" name="financialAmount" value="0"/> €
                </div>
                <div class="form-group form-conditional" id="Fitness">
                    <label class="control-label">Distance</label>
                    <input type="number" name="fitnessDistance" value="0"/> kms
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>