<h1>Events</h1>

<div class="st_wrap_table" data-table_id="0">
    <header class="st_table_header">
        <h2>Today</h2>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </header>
    <div class="st_table">
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </div>
</div>
<div class="st_wrap_table" data-table_id="1">
    <header class="st_table_header">
        <h2>Tomorrow</h2>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </header>
    <div class="st_table">
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </div>
</div>
<div class="st_wrap_table" data-table_id="2">
    <header class="st_table_header">
        <h2>@DateTime.Today.AddDays(2)</h2>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </header>
    <div class="st_table">
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </div>
</div>
<div class="st_wrap_table" data-table_id="3">
    <header class="st_table_header">
        <h2>@DateTime.Today.AddDays(3)</h2>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </header>
    <div class="st_table">
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </div>
</div>
<div class="st_wrap_table" data-table_id="4">
    <header class="st_table_header">
        <h2>@DateTime.Today.AddDays(4)</h2>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </header>
    <div class="st_table">
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
        <div class="st_row">
            <div class="st_column _title">Title</div>
            <div class="st_column _desc">Description</div>
            <div class="st_column _startDate">Start Date</div>
            <div class="st_column _endDate">End Date</div>
            <div class="st_column _type">Type</div>
        </div>
    </div>
</div>