@model Report

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = "Reports";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="form-wrapper">
    <div class="form-container">
        <div class="form-title">
            <h1>Create Report</h1>
        </div>
        <div class="form-group">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                @* <div class="form-group"> *@
                @*     <select asp-for="EventId" class="form-group" asp-items="@ViewBag.EventList"> *@
                @*     </select> *@
                @*     <span asp-validation-for="EventId" class="text-danger"></span> *@
                @* </div> *@
                <div class="form-group">
                    <label class="control-label">Plan to report</label>
                    <select asp-for="PlantId" class="form-control" asp-items="@ViewBag.PlanList">
                    </select>
                    <span asp-validation-for="PlantId" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Sending schedule</label>
                    <select asp-for="SendingSchedule" class="form-control" asp-items="@(new SelectList(ViewBag.SendingSchedules))">
                    </select>
                    <span asp-validation-for="SendingSchedule" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            
            
        </div>
    </div>
</div>
</body>
</html>